
<svg width="41px" height="26px" viewBox="0 0 41 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Email</title>
  <g transform="translate(1.500000, 1.000000)" fill="none" stroke="currentColor" stroke-width="2">
    <polygon points="0 0 0 24 38 24 38 0"></polygon>
    <polyline points="0 3 19 14 38 3"></polyline>
  </g>
</svg>